.page {
  font-family: 'Gotham Pro', Arial, Helvetica, sans-serif;
  background-color: #fdfdfd;
  color: rgba(0, 0, 0, 0.87);
  font-style: normal;
  font-weight: normal;
  height: 100vh;
  min-width: 375px;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.page__header {
  position: absolute;
  left: 0;
  top: 0;
}

.page__content {
  height: 100%;
  flex: 1;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
